<!-- Main Editor Interface -->
<div class="bg-[#222222] w-full">
  <div class="w-full p-4">
    <div class="bg-[#2A2A2A] rounded-lg shadow-xl overflow-hidden w-full">
      <div class="flex flex-col lg:flex-row min-h-[600px]">
        <%= render 'shared/editor_sidebar_left' %>
        <%= render 'shared/editor_canvas' %>
        <%= render 'shared/editor_sidebar_right' %>
      </div>
    </div>
  </div>
</div>